{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules": {
    "arrow-body-style": "warn",
    "no-use-before-define": "off",
    "function-paren-newline": "off",
    "class-methods-use-this": "off",
    "object-curly-newline": "off",
    "no-mixed-operators": "off",
    "arrow-parens": "off",
    "no-plusplus": "off"
  }
}
